<div class="boxed-grey">
    <div id="sendmessage">Info received. Welcome aboard!</div>
    <div id="errormessage"></div>
    <div class="form-group">
        <input type="text" name="name" class="form-control" id="nameinput" placeholder="Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
        <div class="validation"></div>
    </div>
    <div class="form-group">
        <input type="email" class="form-control" name="email" id="emailinput" placeholder="Email" data-rule="email" data-msg="Please enter a valid email" />
        <div class="validation"></div>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="subject" id="zipinput" placeholder="ZIP" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
        <div class="validation"></div>
    </div>
    <div class="text-center">
        <button type="submit" id="submitbutton" class="btn btn-skin">
            Join Us
        </button>
    </div>
</div>
