<div class="heading-about marginbot-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="section-heading">
                    <h2>FAQ</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="service-box">
                <div class="service-icon">
                    <i class="fa fa-code fa-3x"></i>
                </div>
                <div class="service-desc">
                    <h5>How?</h5>
                    <p>Words, emotions, stories, images, posts, information, love.</p>
                </div>
            </div>

        </div>
        <div class="col-sm-3 col-md-3">
            <div class="service-box">
                <div class="service-icon">
                    <i class="fa fa-suitcase fa-3x"></i>
                </div>
                <div class="service-desc">
                    <h5>Why?</h5>
                    <p>Because it needs to be done.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="service-box">
                <div class="service-icon">
                    <i class="fa fa-cog fa-3x"></i>
                </div>
                <div class="service-desc">
                    <h5>When?</h5>
                    <p>Right now. Tomorrow. Forever.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="service-box">
                <div class="service-icon">
                    <i class="fa fa-rocket fa-3x"></i>
                </div>
                <div class="service-desc">
                    <h5>Who?</h5>
                    <p>Us. And you too.</p>
                </div>
            </div>
        </div>
    </div>    
</div>
