<div class="heading-about marginbot-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="section-heading">
                    <h2>Our Story</h2>
                    <p> <small> <em> "Zionism is an aspiration toward morality and beauty." </em> <br> - Jacob Klatzkin </small> </p>
                    <p>
                    {% capture our_story_include %}{% include our-story-writeup.md %}{% endcapture %}
                    {{ our_story_include | markdownify }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
