<div class="heading-contact marginbot-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="section-heading">
                    <h2>Sign Yourself Up</h2>
                    <p>Put your name down to start our growing movement of Zionist progressives.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-offset-2">

            {% include email_form.html %}

            <div class="widget-contact row">
                <div class="col-lg-6">
                    <div class="col-lg-6">
                        <address>
                            <strong>Email</strong><br>
                            <a href="mailto:#">info@zionism.is</a><br/>
                        </address>  
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>
